.external {
    font-weight: bold;
    font-size:32px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: red;
    color: white;
    text-align: center;
}